*{
	box-sizing: border-box;
}

body
{
font-size:15px;
line-height: 1.5;
font-family:sans-serif;
background-color: #f4f4f4;

}

.container{
width:80%;
margin: auto;
overflow: hidden;
}

header{
	background-color: #354235;
	color: #ffffff;
	border-bottom: #e8491d 3px solid; 
}


.highlight,li.active a{
	color:#e8491d;
	}

a:hover{
	color: grey;
}


section#middle-display{
	background-image: url("showCaseImg.jpg");
	color: #ffffff;
	font-weight: 900px;
	letter-spacing: 2px;
	text-align:center;
	background-blend-mode: lighten;
	background-repeat: repeat;
	height:200px;
	background-size: auto;
}

section#news-letter{
	background-color: #354235;
	color: #ffffff;
}

section#news-letter h1{
	display: inline-block;
}

input[type="email"]{
	padding: 5px;
	font-size:17px;
	width: 188px;
	cursor: pointer;
	
}
form{
	float: right;
	margin-top: 15px;
}

.btn{
	padding: 5px;
	background-color:#e8491d;
	border: none;
	font-size:17px;
	font-weight: bold;
	height:35px;
	color: #ffffff;
	margin-left: 5px;
	cursor: pointer;
}

nav ul li{
display:inline-block;
list-style:none;
padding:15px;
font-weight:600;
font-size:20px;
}

li a{
	text-decoration: none;
    color: #ffffff;
}

.logo h1{
display:inline-block;
}


.logo {
display:inline-block;
}


nav{
float:right;
/* display:inline-block; */
}


.logo h1{
display:inline-block;
}

ul {
display:inline-block;
}

#boxes-display{
	margin-top:20px;
}
.box{
	float:left;
	width: 29%;	
	text-align: center;
	margin: 2%;
}

.box img{
width: 100px;	
}

footer{
	padding: 10px;
	width: 100%;
	background-color: #e8491d;
	min-height: 70px;
	color: #ffffff;
	text-align: center;
	font-size: 17px;
	font-weight: 600;
}

/*about us styles*/

article#about-us{
	margin: 10px;
	padding:10px;
	width: 65%;
	float: left;
	background-color:#ffffff;
}

 aside#sidebar{
	 width: 30%;
	float: right;
	margin-bottom: 20px;
	margin-top: 20px;
}

.dark-bg{
	background-color: #354235;
	color: #ffffff;
	padding: 15px;
}

/*services styles*/

#services ul{
	float: left;
	width:65%;
	padding:15px;
	background-color: lightgray;
	margin-top:0;
}

#services li{
	margin-bottom:10px;
	list-style: none;
}

.mt-0{
	margin-top: 0 !important;
}


